@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');

// colors
$primary: #1d8cf8;
$secondary: #4f537b;
$info: #11cdef;
$success: #00bf9a;
$warning: #ff8d72;
$danger: #fd5d93;

// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg : #222a42;
$timeline-body-bg: #27293d;
$timeline-body-round: 10px;
$timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);

ion-content {
    font-family: 'K2D', sans-serif;
    --background: #00b3f0 !important;
    letter-spacing: 1px;
}

// page container
.container {
    margin: 35px 20px 15px 20px;
    box-shadow: $timeline-body-shadow;
    background: #6fcbfd !important;
    border-radius: 10px;
}

// typography
p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
    margin: 0px !important;
}
.title-r{
    font-size: 16px !important;
    font-weight: 700 !important;
}

// timeline style
.timeline {
    position: relative;
    padding-left: 0;
    margin: 0 0 0 30px;
    color: #fff;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0px;
        height: 100%;
        border-left: 2px dotted;
    }

    .timeline-container {
        position: relative;

        .timeline-icon {
            position: absolute;
            left: -25px;
            top: 10%;
            width: 50px;
            height: 50px;
            border-radius: 30%;
            text-align: center;
            font-size: 1.5rem;
            background: #fff;

            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #6fcbfd
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .timeline-body {
            border-radius: $timeline-body-round;
            padding: 15px 5px 15px 45px;
            .timeline-title {
                margin-bottom: 1.4rem;

                .badge {
                    background: #45b4f0;
                    padding: 4px 8px;
                    border-radius: 3px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .timeline-subtitle {
                font-weight: 300;
                font-style: italic;
                opacity: .4;
                margin-top: 16px;
                font-size: 11px;
            }
        }

        // Primary Timeline
        &.primary {
            .badge,
            .timeline-icon {
                background: $primary !important;
                color: #fff !important
            }
        }

    }
}

ion-footer{
    --background: #00b3f0 !important;
    ion-toolbar{
        --background: #00b3f0 !important;
    }
}

.status_div {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    ion-select {
        border: 1px solid lightgray;
        background: #fff;
        color: #000;
        border-radius: 7px;
        --padding-top: 8px;
        --padding-bottom: 8px;
        width: 100%;
    }

    ion-button {
        font-weight: 600;
        --border-radius: 7px;
    }
}

ion-label {
    display: block;
}
.card_div2 {
    padding: 10px 20px;
    .personal_detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        ion-icon {
            font-size: 20px;
            color: var(--ion-color-primary);
        }
        ion-button {
            --border-radius: 3px;
            font-weight: 600;
        }
        .res_name {
            font-weight: 600;
            font-size: 14px;
        }
    }
    .card_div4 {
        .flex_div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px dashed lightgray;
            .food_title {
                font-size: 15px;
                font-weight: bold;
            }
            .food_price {
                font-size: 15px;
            }
            ion-label{
                color: #fff;
            }
        }
    }

    .order_detail {
        h4{
            color: #fff;
            font-weight: 700;
        }
        .head_gray {
            color: #fff;
            font-size: 13px;
            margin-top: 10px;
        }
        .small_lbl {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            span{
                font-weight: 300;
            }
        }
        .subNames {
            border-bottom: 1px dashed lightgray;
            padding-bottom: 10px;
            .food_title {
                font-size: 15px;
                font-weight: bold;
                .veg {
                    height: 12px;
                    width: 12px;
                }
                .rate_lbl {
                    background: #b2d9b2;
                    border: 1px solid #7bdb7b;
                    padding: 3px 8px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .flex_titles {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .sub_name {
                    margin: 0px;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }

        .prize {
            position: absolute;
            right: 35px;
            font-weight: 600 !important;
            color: #fff;
        }

        .prize1 {
            position: absolute;
            right: 35px;
            font-weight: 600 !important;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
        .red_color {
            color: var(--ion-color-primary);
        }

        .small_lbl2 {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}
