<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" color="light" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Orden #{{id}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="!loaded" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
    <div class="container" *ngIf="loaded">
        <div class="timeline">
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="fas fa-store-alt"></i>
                </div>
                <div class="timeline-body">
                    <p class="title-r">{{restName}}</p>
                    <p class="address">{{address}}</p>
                    <h4 class="timeline-title"
                        *ngIf="status =='en camino' || status =='creada' || status =='picked' || status =='aceptada'">
                        <span class="badge primary" (click)="goToTracker()"><i class="fas fa-compass"></i> Ver ubicacion</span>
                    </h4>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="timeline-body">
                    <p class="title-r">{{username}}</p>
                    <p class="address">{{deliveryAddress}}</p>
                    <h4 class="timeline-title"
                        *ngIf="status =='en camino' || status =='creada' || status =='picked' || status =='aceptada'">
                        <span class="badge primary" (click)="goToVenue()"><i class="fas fa-compass"></i> Ver ubicacion</span> &nbsp;
                        <span class="badge primary" (click)="call()"><i class="fas fa-headset"></i> Llamar ahora</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="loaded">
        <div class="card_div2">
            <div class="order_detail">
                <h4>Productos</h4>
                <br>
                <span *ngFor="let item of orders">
                    <div *ngFor="let subItems of item.selectedItem;let j = index" class="subNames">
                        <ion-label class="food_title">
                            {{item.name}} X
                            {{item.selectedItem[j].total}}</ion-label>
                        <div *ngFor="let addods of subItems.item" class="flex_titles">
                            <p class="sub_name">
                                - {{addods.name}}
                            </p>
                            <p class="sub_name">
                                <span *ngIf="util.cside ==='left'">{{util.currecny}} {{addods.value}}</span>
                                <span *ngIf="util.cside ==='right'"> {{addods.value}} {{util.currecny}}</span>

                            </p>
                        </div>
                    </div>

                    <div class="card_div4" *ngIf="!item.selectedItem || !item.selectedItem.length">
                        <div class="flex_div">
                            <ion-label class="food_title">{{item.name}} X {{item.quantiy}} </ion-label>
                            <ion-label class="food_price" *ngIf="util.cside ==='left'">{{util.currecny}} {{item.quantiy
                                * item.price}}
                            </ion-label>
                            <ion-label class="food_price" *ngIf="util.cside ==='right'">{{item.quantiy * item.price}}
                                {{util.currecny}}</ion-label>
                        </div>

                    </div>

                </span>


            </div>
        </div>
        <div class="line_div"></div>
        <div class="card_div2">
            <div class="order_detail">
                <ion-label class=" small_lbl">Ordenado en</ion-label>
                <ion-label class="head_gray">{{time}} </ion-label>
                <br>
                <ion-label class="small_lbl">Notas</ion-label>
                <ion-label class=" head_gray">{{orderNotes}} </ion-label>
            </div>

        </div>

        <div class="line_div"></div>
        <div class="card_div2">

            <div class="order_detail">
                <ion-label class="small_lbl2">Total
                    <span class="prize1" *ngIf="util.cside ==='left'">{{util.currecny}} {{total}}</span>
                    <span class="prize1" *ngIf="util.cside ==='right'"> {{total}} {{util.currecny}}</span>
                </ion-label>
                <ion-label class="small_lbl2">Precio por envío
                    <span class="prize1" *ngIf="util.cside ==='left'">{{util.currecny}} {{deliveryCharge}}</span>
                    <span class="prize1" *ngIf="util.cside ==='right'"> {{deliveryCharge}} {{util.currecny}}</span>
                </ion-label>


                <ion-label class="small_lbl2">Método de pago
                    <span class="prize1 red_color" *ngIf="util.cside ==='left'">{{util.currecny}} {{payment}}</span>


                </ion-label>

            </div>

        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>

        <div class="status_div" *ngIf="status == 'aceptada' || status == 'en camino' ">
            <div style="width: 200px;">
                <ion-select placeholder="Estado" [(ngModel)]="changeStatusOrder" mode="ios" size="medium">
                    <ion-select-option value="en camino">En camino</ion-select-option>
                    <ion-select-option value="cancelada">Cancelar</ion-select-option>
                    <ion-select-option value="entregada">Entregada</ion-select-option>
                </ion-select>
            </div>

            <div>
                <ion-button (click)="changeOrderStatus()" size="medium">
                    Actualizar estado
                </ion-button>
            </div>
        </div>
        <ion-label class="green" *ngIf="status ==='entregada'"> Estado : {{status}}</ion-label>
    </ion-toolbar>
</ion-footer>